@model MyShop.Web.Models.ProductViewModel

<div class="col-md-3 col-xs-12" style="border:double;margin:3px">
    <div class="row">
        @Html.ValueFor(model => model.Name)
    </div>
    <div class="row">
        <img src="@Model.Image" />
    </div>
    <div class="row">
        @Html.ValueFor(model => model.Price)
    </div>
    <div class="row">
        @Html.ActionLink("Ver", "Details", "Product", Model.Id)
    </div>
</div>

