@model IQueryable<MyShop.Web.Models.ProductViewModel>
<div class="row">
    <div class="col-md-12">
        @foreach (var product in Model)
        {
            <div class="col-lg-4 col-sm-6 col-md-4">
                @Html.Partial("Product", product)
            </div>
        }
    </div>
</div>

