@{
    ViewBag.Title = "About";
}
<h2>Acerca de nosotros</h2>
<h3>Una tienda online actual</h3>

<p>Somos una tienda online de productos de electronica nacida en 2022 con el objetivo de poner a disposición de nuestro clientes productos de electronica.</p>
