@{
    ViewBag.Title = "Contact";
}
<h2>Contacto</h2>
<h3>Puede contactar con nosotros mediante los siguientes datos:</h3>

<address>
    Calle Juan de la cierva, #38 9º2ª,<br />
    Barberá del vallés, Barcelona, España, 08210.<br />
    <abbr title="Phone">Teléfono:</abbr>
    664.745.533
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">pelegrintuk@hotmail.es</a><br />
</address>