@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenido a MyShop</h1>
    <p class="lead">MyShop es nuestra tienda online con productos de electronica de consumo.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Productos</h2>
        <p>
            Puedes echar un vistazo a los productos que tenemso actualmente en nuestro catalogo.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Catalogo", "Index", "Product")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pedidos</h2>
        <p>Realiza el seguimiento de tus pediddos.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Pedidos", "Index", "Order")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Datos de usuario</h2>
        <p>En esta seccion puedes modificar tus datos de usuario.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Datos personales", "Edit", "Account")</a></p>
    </div>
</div>